.addFood {
  background-color: $dark-blue;
  border: none;
  border-bottom: 0.6rem solid darken($dark-blue, 10%);
  color: $light-blue;
  font-weight: bold;
  font-size: $l-size;
  padding: 2.4rem;
  margin-top: 20px;
  width: 100%;
  border-radius: 100px;
}

.addBMI {
  background-color: $dark-blue;
  border: none;
  border-bottom: 0.6rem solid darken($dark-blue, 10%);
  color: $light-blue;
  font-weight: bold;
  font-size: $l-size;
  padding: 2.4rem;
  margin-top: 20px;
  width: 100%;
  border-radius: 100px;
}

.addLoginButton {
  background: #1c88bf;
  color: white;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  padding: $s-size;
}
