.searchStyle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.caloriesListStyle {
  width: 100%;
  background-color: $light-blue;
  opacity: 0.8;
  border-radius: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
