.content_container {
  margin: 0 auto;
  padding: 0 $s-size;
  max-width: 80rem;
}

.footer_content_container {
  margin: 0 auto;
  padding: 0 $s-size;
  max-width: 80rem;
}

.content_button {
  text-align: right;
}

.image_content {
  display: flex;
  justify-content: space-between;
}
