$font-stack: Helvetica, sans-serif;

.header {
  background: $dark-blue;
  color: $light-blue;
  margin-bottom: 1.6rem;
  padding: 1.6rem 0;
}

.header_content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header_title {
  color: #2d91cc;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-align: center;
  h1 {
    margin: 0;
  }
}
