.contentStyle {
  width: 100%;
  background-color: $light-blue;
  opacity: 0.8;
  border-radius: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.contentStyleTwo {
  width: 60rem;
  background-color: $light-blue;
  opacity: 0.8;
  border-radius: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
