.text_input {
  border: 1px solid $dark-blue;
  height: 50px;
  font-weight: 300;
  padding: $s-size;
}

.bmi_text_input {
  @extend .text_input;
  padding: 0;
  height: 10;
}

.select {
  @extend .text_input;
}

.textarea {
  @extend .text_input;
  height: 10rem;
}
