.page_header {
  background: white;
  margin-bottom: $m-size;
  padding: $s-size 0;
}

.page_header_form {
  @extend .page_header;
  height: 78vh;
}

.page_title {
  font-weight: 500;
  margin: 0;
  text-align: center;
  padding: $m-size;
}
